*{
    margin: 0;
    margin-left: 15px;
    font-family: 'Nova Square';
}
html,body{
    height: 100%;
    background-image: url(background1.jpg);
    background-size: cover;
    /*background-image: url(background.jpg);*/  
    /*position: relative; ******/
}
.box {
    background: white;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    display: flex;
    /*align-items: center;***/
    z-index: 2; /* higher value than the button */
    margin-top: 10px;
}

.box .slider{
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.box .slider input{
    height: 10px;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    background: #f2f2f2;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.8);
    border-radius: 25px;
}

.box .value{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nova Square';
    color: #3498db;
    width: 55px;
    text-align: center;
    margin-top: 4px;
}

button.btn {
    position: relative;
    top: 20px;
    left: 20px;
    /*z-index: 1;*/ /* lower value than the box */
}
.sumField {
    right: 0; /* Aligns the element to the right of its container */
    transform: translateX(58%); /* Moves the element to the right by 50% of its width */
    font-size: 28px;
    
}
.textField1,.textField2,.textField3,.textField4,.textField5,.sumField{
    color: #f2f2f2;
}
h3,h1{
    color: #3f1010;
}